#preview {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;
    min-height: 100vh;
    height: auto;

}

#preview>div {
    width: 50%;
    height: 45vw;
    margin: auto;
}

#product-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #product-details>h2{
    margin: 30px 0;
} */
#product-details>p{
    /* margin: 20px 0; */
    /* margin-top: 10px; */
    margin-bottom: 30px;
}

#product-details>p:nth-child(2){
    font-size: 25px;
}

#product-details>p:nth-child(3){
    font-size: 18px;
}

#orderbtn{
    padding: 15px 25px;
    margin: 50px auto;
    background-color: green;
}

/* #images{
    width: 50%;
    display: flex;
}
#images>div{
    background-color: white;
}
#left-images{
    width: 25%;
}
#right-image{
    width: 75%;
} */

/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    height: 100vh;
    padding: 2.5%;
  }
  
  .left-section {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .left-section img {
    width: 100%;
    cursor: pointer;
  }
  
  .left-section img.selected {
    border: 2px solid blue;
  }
  
  .right-section {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-section img {
    max-width: 100%;
    max-height: 100%;
  }
   */




body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    padding: 2.5%;
}

.left-section {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: scroll;
}

/* Hide scrollbar for Webkit-based browsers (Chrome, Safari) */
.left-section::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Hide scrollbar for IE, Edge and Firefox */
.left-section {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.right-section {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.5%;
}

.small-image {
    width: 100%;
    aspect-ratio: 3 / 4;
    cursor: pointer;
    border: 2px solid transparent;
}

.selected {
    border-color: blue;
}

.large-image {
    width: auto;
    max-height: 100%;
    aspect-ratio: 3 / 4;
}

/* DESCRIPTON */

.button-container>button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 0;
}

.content-div {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
}

#div1 {
    display: block; /* Make div1 visible by default */
}